.branch .lead { cursor: pointer; }

.transparent { opacity: 0; }
.glyphicon { cursor: pointer; }

.dndDraggingSource {
	display: none;
}
.dndPlaceholder { display: none }
.dndDragover {
	outline: 2px dashed #777;
}
